services:
  samba:
    image: ghcr.io/servercontainers/samba
    container_name: samba
    restart: unless-stopped
    ports:
      - "137:137/udp"
      - "138:138/udp"
      - "139:139/tcp"
      - "445:445/tcp"
    environment:
      MODEL: TimeCapsule
      AVAHI_NAME: StorageServer
      SAMBA_CONF_LOG_LEVEL: 7

      SAMBA_GLOBAL_CONFIG_globalconfig: |
        dos charset = CP932
        unix charset = UTF-8
        workgroup = WORKGROUP

      ACCOUNT_maretol: ${SAMBA_PASSWORD}
      UID_maretol: 1000

      SAMBA_VOLUME_CONFIG_maretolonly: |
        [maretol_share];
          path=/shares/maretol;
          valid users = maretol;
          guest ok = no;
          read only = no;
          writable = yes;
          browseable = yes;
          create mode = 0777;
          directory mode = 0777;

    volumes:
      - ~/share/:/shares/maretol/
